<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>跃迁网</title>
    <link rel="stylesheet" href="~/Content/user/css/reset.css" type="text/css" media="screen" />
    <link href="~/Content/user/css/detail.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
