@{
    ViewBag.Title = "常见问题";
}


<div class="main">
    <h2>常见问题</h2>

    <p>
        &nbsp;
    </p>
    <p>问:怎样使用跃迁网获取收益？</p>
    <p>
        &nbsp;
    </p>
    <p>答:跃迁网提供了一种非常简单轻松的网赚方式,只需要您将一些想要分享的网址，例如一些共享资源的网盘链接、有趣的博客地址等等，把这些网址通过跃迁网转化为短址，然后将短址分享到博客,论坛,个人空间,他人通过浏览短址后跳转到目标网址,您就可以获得收益了.</p>
    <p>
        &nbsp;
    </p>
    <p>问:使用跃迁网能获得多少收益?</p>
    <p>
        &nbsp;
    </p>
    <p>答:短址的访问量越多获取的收益越多。我们没有设置收益上限，所以快把您的短址分享给更多的人吧！</p>
    <p>
        &nbsp;
    </p>
    <p>问:跃迁网如何支付我的收益?</p>
    <p>
        &nbsp;
    </p>
    <p>答:只要您的账号积分满1000分就可以提现，提现日为每周三，三个工作日内审核并发放，目前只支持支付宝渠道支付，如果将来网站政策有变动将提前告知所有用户。</p>
    <p>
        &nbsp;
    </p>
    <p>问:我的短址链接会失效或者过期吗?</p>
    <p>
        &nbsp;
    </p>
    <p>答:已绑定支付信息用户(Lv1以上)短址永久有效，未绑定用户短址将可能会不定期清理，请用户注册后尽快完善支付信息，以便获得网站完整的服务。</p>
    <p>
        &nbsp;
    </p>
    <p>问:可以使用一些流量工具或者把短址放在弹窗和自动跳转页面中刷访问量吗?</p>
    <p>
        &nbsp;
    </p>
    <p>答:本站不允许任何故意刷访问量的行为，系统中也对重复访问作了限制，对于以上行为一经发现，将采取清除作弊积分、封停账号等措施。</p>
</div>