@model YueQian.ShortUrl.Admin.ViewModels.IndexModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    <i class="icon-ok green"></i>欢迎来到 <strong class="green">跃迁网<small>后台管理系统</small></strong>,
    点击左侧的菜单进行相关的操作.
</div>
<div class="space-6"></div>
<div class="row-fluid">
    <div class="span7 infobox-container">

        <div class="infobox infobox-green">
            <div class="infobox-icon"><i class="icon-comments"></i></div>
            <div class="infobox-data">
                <span class="infobox-data-number">@Model.TodayViewCount</span>
                <span class="infobox-content">今日访问量</span>
            </div>
            <div class="stat stat-success">8%</div>
        </div>
        <div class="infobox infobox-blue">
            <div class="infobox-icon"><i class="icon-twitter"></i></div>
            <div class="infobox-data">
                <span class="infobox-data-number">11</span>
                <span class="infobox-content">今日新增</span>
            </div>
            <div class="badge badge-success">+32%</div>
        </div>
        <div class="infobox infobox-pink">
            <div class="infobox-icon"><i class="icon-shopping-cart"></i></div>
            <div class="infobox-data">
                <span class="infobox-data-number">8</span>
                <span class="infobox-content">new orders</span>
            </div>
            <div class="stat stat-important">4%</div>
        </div>
        <div class="infobox infobox-red">
            <div class="infobox-icon"><i class="icon-beaker"></i></div>
            <div class="infobox-data">
                <span class="infobox-data-number">7</span>
                <span class="infobox-content">当前在线</span>
            </div>
        </div>
        <div class="infobox infobox-orange2">
            <div class="infobox-chart">
                <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">6,251</span>
                <span class="infobox-content">pageviews</span>
            </div>
            <div class="badge badge-success">7.2% <i class="icon-arrow-up"></i></div>
        </div>


        <div class="infobox infobox-blue2">
            <div class="infobox-progress">
                <div class="easy-pie-chart percentage" data-percent="42" data-size="46">
                    <span class="percent">42</span>%
                </div>
            </div>

            <div class="infobox-data">
                <span class="infobox-text">traffic used</span>
                <span class="infobox-content"><span class="approx">~</span> 58GB remaining</span>
            </div>
        </div>

        <div class="space-6"></div>


    </div>
    

</div>
<!--/row-->
